---
import Layout from '../../../../layouts/Layout.astro'

export const prerender = false

const { id } = Astro.params

interface User {
  id: string
  name: string
  email: string
  nickname: string
  createdDay: string
}

const response = await fetch(`http://localhost:3000/search/${id}`)
const data = await response.json()
const user: User = data[0]
---

<Layout>
  <section>
    <h1>{user.nickname}</h1>
    <a class="go-back" href="/admin/users">Volver atras</a>

    <article>
      <div>
        <span>Nombre:</span>
        <p>{user.name}</p>
      </div>
      <div>
        <span>Nickname:</span>
        <p>{user.nickname}</p>
      </div>
      <div>
        <span>Email:</span>
        <p>{user.email}</p>
      </div>
      <div>
        <span>Created day:</span>
        <p>{user.createdDay}</p>
      </div>

      <div></div>

    </article>
  </section>
</Layout>

<style>
  h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: peru;
    font-weight: 700;
    text-align: center;
  }

  article {
    width: 35%;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid #7e6e9f;
    border-radius: 6px;
  }

  div {
    margin-left: 10dvw;
  }

  p {
    display: inline-block;
    color: whitesmoke;
  }

  span {
    margin-right: 8px;
    color: #8a78ae;
  }

  .go-back:hover {
    color: whitesmoke;
  }

  .go-back {
    text-decoration: none;
    color: #8a78ae;
    margin-top: 445px;
    margin-left: 35px;
    transition: color ease 0.3s;
  }
</style>

